body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: black;
}

.container{
    background: #303030;
    display: flex;
    /* flex-direction:row, row-reverse o column-reverse */
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    gap: 20px;
}

.uno{
    background: #ce0000;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.dos{
    background: #4a87f8;
    width: 200px;
    height: 150px;
    border-radius: 15px;
}
.tres{
    background: #34d1ec;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}